<a href="https://colab.research.google.com/github/MikaMohd/Project-4-Group-7/blob/main/Rosanna_Neural_Net_Zero_Accuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sequential Model with Hyperparameter Tuning

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
#mounting google drive for reading cloud files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#reading the csv into google colab
insurance_df = pd.read_csv('/content/drive/MyDrive/Health_insurance.csv')

In [ ]:
#creating a dataframe for the csv
insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# Examining the dataframes shape and datatypes
insurance_df.info

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [ ]:
#looking over value ranges to see if anything stands out as being out of place or above/below expected amounts
insurance_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
#examing dataset using 1 bin for each year in the chart
insurance_df.age.describe()

count    1338.000000
mean       39.207025
std        14.049960
min        18.000000
25%        27.000000
50%        39.000000
75%        51.000000
max        64.000000
Name: age, dtype: float64

In [ ]:
insurance_df.sex.describe()

count     1338
unique       2
top       male
freq       676
Name: sex, dtype: object

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize, Normalizer
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import r2_score, explained_variance_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error, median_absolute_error

In [ ]:
print(insurance_df.shape)
insurance_df.head()

(1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
#determine data types for insurance_df
insurance_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
#create quartiles for the charges column
charge_quartiles = insurance_df.charges.quantile([0.0,.25,.5,.75,1])
print(charge_quartiles)

0.00     1121.873900
0.25     4740.287150
0.50     9382.033000
0.75    16639.912515
1.00    63770.428010
Name: charges, dtype: float64

In [ ]:
# add charge_quartiles to insurance_df
#insurance_df['charges'] = pd.cut(insurance_df['charges'],charge_quartiles,labels=['Q1','Q2','Q3','Q4'])
#insurance_df.head()

   age     sex     bmi  children smoker     region charges
0   19  female  27.900         0    yes  southwest      Q4
1   18    male  33.770         1     no  southeast      Q1
2   28    male  33.000         3     no  southeast      Q1
3   33    male  22.705         0     no  northwest      Q4
4   32    male  28.880         0     no  northwest      Q1

In [ ]:
#add charge quatils to insurance_df and drop chages column
insurance_df['charges'] = pd.cut(insurance_df['charges'],charge_quartiles)
insurance_df.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,"(16639.913, 63770.428]",1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.770,1,"(1121.874, 4740.287]",0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.000,3,"(1121.874, 4740.287]",0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.705,0,"(16639.913, 63770.428]",0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,32,28.880,0,"(1121.874, 4740.287]",0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
#converting categorical data to numeric data
insurance_df = pd.get_dummies(insurance_df,dtype=float)
insurance_df.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.770,1,1725.55230,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.000,3,4449.46200,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.705,0,21984.47061,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,32,28.880,0,3866.85520,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
#check charges data types
insurance_df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
#scaling the data
insurance_scaled=StandardScaler(with_std=False).fit_transform(insurance_df)
insurance_scaled=pd.DataFrame(data=insurance_scaled, columns=insurance_df.columns)

In [ ]:
import keras
print(keras.__version__)

2.12.0

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [ ]:
#arrange the data into features and target arrays
insurance_scaled=pd.DataFrame(data=insurance_scaled, columns=insurance_df.columns)

In [ ]:
# Split our preprocessed data into our features and target arrays
X = insurance_scaled.drop(["charges_Q1","charges_Q2","charges_Q3","charges_Q4"],axis=1).values

y = insurance_scaled("charges_Q1","charges_Q2","charges_Q3","charges_Q4").values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

TypeError: ignored

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
from tensorflow.python.ops.histogram_ops import histogram_fixed_width
from keras.engine.training import h5py
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 40
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 40)                480

 dense_1 (Dense)             (None, 30)                1230

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 2,351
Trainable params: 2,351
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
32/32 [==============================] - 1s 3ms/step - loss: -14911.0225 - accuracy: 0.0000e+00
Epoch 2/100
32/32 [==============================] - 0s 2ms/step - loss: -68874.8516 - accuracy: 0.0000e+00
Epoch 3/100
32/32 [==============================] - 0s 2ms/step - loss: -239152.0781 - accuracy: 0.0000e+00
Epoch 4/100
32/32 [==============================] - 0s 2ms/step - loss: -729842.5625 - accuracy: 0.0000e+00
Epoch 5/100
32/32 [==============================] - 0s 2ms/step - loss: -1934067.3750 - accuracy: 0.0000e+00
Epoch 6/100
32/32 [==============================] - 0s 2ms/step - loss: -4455382.0000 - accuracy: 0.0000e+00
Epoch 7/100
32/32 [==============================] - 0s 2ms/step - loss: -9124757.0000 - accuracy: 0.0000e+00
Epoch 8/100
32/32 [==============================] - 0s 2ms/step - loss: -17333452.0000 - accuracy: 0.0000e+00
Epoch 9/100
32/32 [==============================] - 0s 2ms/step - loss: -30410188.0000 - accuracy: 0.0000e+00
Epoch 10/100
32/32 [==============================] - 0s 2ms/step - loss: -49927944.0000 - accuracy: 0.0000e+00
Epoch 11/100
32/32 [==============================] - 0s 2ms/step - loss: -77567072.0000 - accuracy: 0.0000e+00
Epoch 12/100
32/32 [==============================] - 0s 2ms/step - loss: -116180216.0000 - accuracy: 0.0000e+00
Epoch 13/100
32/32 [==============================] - 0s 2ms/step - loss: -167411072.0000 - accuracy: 0.0000e+00
Epoch 14/100
32/32 [==============================] - 0s 2ms/step - loss: -233224368.0000 - accuracy: 0.0000e+00
Epoch 15/100
32/32 [==============================] - 0s 2ms/step - loss: -320426848.0000 - accuracy: 0.0000e+00
Epoch 16/100
32/32 [==============================] - 0s 3ms/step - loss: -426746912.0000 - accuracy: 0.0000e+00
Epoch 17/100
32/32 [==============================] - 0s 2ms/step - loss: -559102528.0000 - accuracy: 0.0000e+00
Epoch 18/100
32/32 [==============================] - 0s 2ms/step - loss: -715334976.0000 - accuracy: 0.0000e+00
Epoch 19/100
32/32 [==============================] - 0s 2ms/step - loss: -908159936.0000 - accuracy: 0.0000e+00
Epoch 20/100
32/32 [==============================] - 0s 2ms/step - loss: -1129588480.0000 - accuracy: 0.0000e+00
Epoch 21/100
32/32 [==============================] - 0s 2ms/step - loss: -1389224704.0000 - accuracy: 0.0000e+00
Epoch 22/100
32/32 [==============================] - 0s 2ms/step - loss: -1685177728.0000 - accuracy: 0.0000e+00
Epoch 23/100
32/32 [==============================] - 0s 2ms/step - loss: -2020016512.0000 - accuracy: 0.0000e+00
Epoch 24/100
32/32 [==============================] - 0s 2ms/step - loss: -2418140416.0000 - accuracy: 0.0000e+00
Epoch 25/100
32/32 [==============================] - 0s 2ms/step - loss: -2859126528.0000 - accuracy: 0.0000e+00
Epoch 26/100
32/32 [==============================] - 0s 2ms/step - loss: -3357019136.0000 - accuracy: 0.0000e+00
Epoch 27/100
32/32 [==============================] - 0s 2ms/step - loss: -3918728704.0000 - accuracy: 0.0000e+00
Epoch 28/100
32/32 [==============================] - 0s 2ms/step - loss: -4538888192.0000 - accuracy: 0.0000e+00
Epoch 29/100
32/32 [==============================] - 0s 3ms/step - loss: -5223141376.0000 - accuracy: 0.0000e+00
Epoch 30/100
32/32 [==============================] - 0s 2ms/step - loss: -5989610496.0000 - accuracy: 0.0000e+00
Epoch 31/100
32/32 [==============================] - 0s 2ms/step - loss: -6826684416.0000 - accuracy: 0.0000e+00
Epoch 32/100
32/32 [==============================] - 0s 2ms/step - loss: -7748518400.0000 - accuracy: 0.0000e+00
Epoch 33/100
32/32 [==============================] - 0s 3ms/step - loss: -8744599552.0000 - accuracy: 0.0000e+00
Epoch 34/100
32/32 [==============================] - 0s 2ms/step - loss: -9805842432.0000 - accuracy: 0.0000e+00
Epoch 35/100
32/32 [==============================] - 0s 2ms/step - loss: -10970073088.0000 - accuracy: 0.0000e+00
Epoch 36/100
32/32 [==============================] - 0s 2ms/step - loss: -12232806400.0000 - accuracy: 0.0000e+00
Epoch 37/100
32/32 [==============================] - 0s 2ms/step - loss: -13556791296.0000 - accuracy: 0.0000e+00
Epoch 38/100
32/32 [==============================] - 0s 2ms/step - loss: -15009161216.0000 - accuracy: 0.0000e+00
Epoch 39/100
32/32 [==============================] - 0s 2ms/step - loss: -16595868672.0000 - accuracy: 0.0000e+00
Epoch 40/100
32/32 [==============================] - 0s 2ms/step - loss: -18272061440.0000 - accuracy: 0.0000e+00
Epoch 41/100
32/32 [==============================] - 0s 3ms/step - loss: -20034471936.0000 - accuracy: 0.0000e+00
Epoch 42/100
32/32 [==============================] - 0s 2ms/step - loss: -21896699904.0000 - accuracy: 0.0000e+00
Epoch 43/100
32/32 [==============================] - 0s 2ms/step - loss: -23907645440.0000 - accuracy: 0.0000e+00
Epoch 44/100
32/32 [==============================] - 0s 2ms/step - loss: -26035075072.0000 - accuracy: 0.0000e+00
Epoch 45/100
32/32 [==============================] - 0s 2ms/step - loss: -28264871936.0000 - accuracy: 0.0000e+00
Epoch 46/100
32/32 [==============================] - 0s 2ms/step - loss: -30610491392.0000 - accuracy: 0.0000e+00
Epoch 47/100
32/32 [==============================] - 0s 2ms/step - loss: -33120569344.0000 - accuracy: 0.0000e+00
Epoch 48/100
32/32 [==============================] - 0s 2ms/step - loss: -35799666688.0000 - accuracy: 0.0000e+00
Epoch 49/100
32/32 [==============================] - 0s 3ms/step - loss: -38553022464.0000 - accuracy: 0.0000e+00
Epoch 50/100
32/32 [==============================] - 0s 3ms/step - loss: -41558589440.0000 - accuracy: 0.0000e+00
Epoch 51/100
32/32 [==============================] - 0s 3ms/step - loss: -44683476992.0000 - accuracy: 0.0000e+00
Epoch 52/100
32/32 [==============================] - 0s 4ms/step - loss: -47998865408.0000 - accuracy: 0.0000e+00
Epoch 53/100
32/32 [==============================] - 0s 3ms/step - loss: -51448684544.0000 - accuracy: 0.0000e+00
Epoch 54/100
32/32 [==============================] - 0s 3ms/step - loss: -55052812288.0000 - accuracy: 0.0000e+00
Epoch 55/100
32/32 [==============================] - 0s 3ms/step - loss: -58905251840.0000 - accuracy: 0.0000e+00
Epoch 56/100
32/32 [==============================] - 0s 3ms/step - loss: -62790152192.0000 - accuracy: 0.0000e+00
Epoch 57/100
32/32 [==============================] - 0s 3ms/step - loss: -66893836288.0000 - accuracy: 0.0000e+00
Epoch 58/100
32/32 [==============================] - 0s 3ms/step - loss: -71054303232.0000 - accuracy: 0.0000e+00
Epoch 59/100
32/32 [==============================] - 0s 3ms/step - loss: -75600633856.0000 - accuracy: 0.0000e+00
Epoch 60/100
32/32 [==============================] - 0s 3ms/step - loss: -80234455040.0000 - accuracy: 0.0000e+00
Epoch 61/100
32/32 [==============================] - 0s 3ms/step - loss: -85035950080.0000 - accuracy: 0.0000e+00
Epoch 62/100
32/32 [==============================] - 0s 3ms/step - loss: -90114793472.0000 - accuracy: 0.0000e+00
Epoch 63/100
32/32 [==============================] - 0s 3ms/step - loss: -95390752768.0000 - accuracy: 0.0000e+00
Epoch 64/100
32/32 [==============================] - 0s 4ms/step - loss: -100778778624.0000 - accuracy: 0.0000e+00
Epoch 65/100
32/32 [==============================] - 0s 4ms/step - loss: -106553409536.0000 - accuracy: 0.0000e+00
Epoch 66/100
32/32 [==============================] - 0s 4ms/step - loss: -112484032512.0000 - accuracy: 0.0000e+00
Epoch 67/100
32/32 [==============================] - 0s 4ms/step - loss: -118551191552.0000 - accuracy: 0.0000e+00
Epoch 68/100
32/32 [==============================] - 0s 3ms/step - loss: -124853469184.0000 - accuracy: 0.0000e+00
Epoch 69/100
32/32 [==============================] - 0s 4ms/step - loss: -131339321344.0000 - accuracy: 0.0000e+00
Epoch 70/100
32/32 [==============================] - 0s 5ms/step - loss: -138090053632.0000 - accuracy: 0.0000e+00
Epoch 71/100
32/32 [==============================] - 0s 5ms/step - loss: -145120854016.0000 - accuracy: 0.0000e+00
Epoch 72/100
32/32 [==============================] - 0s 4ms/step - loss: -152299192320.0000 - accuracy: 0.0000e+00
Epoch 73/100
32/32 [==============================] - 0s 4ms/step - loss: -159900860416.0000 - accuracy: 0.0000e+00
Epoch 74/100
32/32 [==============================] - 0s 4ms/step - loss: -167475380224.0000 - accuracy: 0.0000e+00
Epoch 75/100
32/32 [==============================] - 0s 4ms/step - loss: -175323725824.0000 - accuracy: 0.0000e+00
Epoch 76/100
32/32 [==============================] - 0s 4ms/step - loss: -183528308736.0000 - accuracy: 0.0000e+00
Epoch 77/100
32/32 [==============================] - 0s 5ms/step - loss: -192108544000.0000 - accuracy: 0.0000e+00
Epoch 78/100
32/32 [==============================] - 0s 6ms/step - loss: -200668921856.0000 - accuracy: 0.0000e+00
Epoch 79/100
32/32 [==============================] - 0s 4ms/step - loss: -209581555712.0000 - accuracy: 0.0000e+00
Epoch 80/100
32/32 [==============================] - 0s 5ms/step - loss: -218648215552.0000 - accuracy: 0.0000e+00
Epoch 81/100
32/32 [==============================] - 0s 5ms/step - loss: -228209606656.0000 - accuracy: 0.0000e+00
Epoch 82/100
32/32 [==============================] - 0s 5ms/step - loss: -237818855424.0000 - accuracy: 0.0000e+00
Epoch 83/100
32/32 [==============================] - 0s 4ms/step - loss: -247856136192.0000 - accuracy: 0.0000e+00
Epoch 84/100
32/32 [==============================] - 0s 3ms/step - loss: -258108080128.0000 - accuracy: 0.0000e+00
Epoch 85/100
32/32 [==============================] - 0s 4ms/step - loss: -268786417664.0000 - accuracy: 0.0000e+00
Epoch 86/100
32/32 [==============================] - 0s 3ms/step - loss: -279618027520.0000 - accuracy: 0.0000e+00
Epoch 87/100
32/32 [==============================] - 0s 3ms/step - loss: -290907258880.0000 - accuracy: 0.0000e+00
Epoch 88/100
32/32 [==============================] - 0s 3ms/step - loss: -302458109952.0000 - accuracy: 0.0000e+00
Epoch 89/100
32/32 [==============================] - 0s 3ms/step - loss: -314262388736.0000 - accuracy: 0.0000e+00
Epoch 90/100
32/32 [==============================] - 0s 3ms/step - loss: -326099009536.0000 - accuracy: 0.0000e+00
Epoch 91/100
32/32 [==============================] - 0s 3ms/step - loss: -338662916096.0000 - accuracy: 0.0000e+00
Epoch 92/100
32/32 [==============================] - 0s 3ms/step - loss: -351146999808.0000 - accuracy: 0.0000e+00
Epoch 93/100
32/32 [==============================] - 0s 3ms/step - loss: -364270125056.0000 - accuracy: 0.0000e+00
Epoch 94/100
32/32 [==============================] - 0s 4ms/step - loss: -377813893120.0000 - accuracy: 0.0000e+00
Epoch 95/100
32/32 [==============================] - 0s 3ms/step - loss: -391248936960.0000 - accuracy: 0.0000e+00
Epoch 96/100
32/32 [==============================] - 0s 4ms/step - loss: -405126053888.0000 - accuracy: 0.0000e+00
Epoch 97/100
32/32 [==============================] - 0s 3ms/step - loss: -419269083136.0000 - accuracy: 0.0000e+00
Epoch 98/100
32/32 [==============================] - 0s 3ms/step - loss: -433598398464.0000 - accuracy: 0.0000e+00
Epoch 99/100
32/32 [==============================] - 0s 4ms/step - loss: -448565542912.0000 - accuracy: 0.0000e+00
Epoch 100/100
32/32 [==============================] - 0s 4ms/step - loss: -463657598976.0000 - accuracy: 0.0000e+00

In [ ]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=5), activation=activation, input_dim=2))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import tensorflow as tf
from sklearn.datasets import make_circles

In [ ]:
!pip3 install tensorflow keras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.2)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [ ]:
from tensorflow.python.keras.layers import Input, Dense
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
import keras
print(keras.__version__)

2.12.0

In [ ]:
# Import the kerastuner library
import kerastuner as kt


tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

ModuleNotFoundError: ignored